.text_label {						/* total width = 100+10+2 (border) = 112 */
	float: left;
	width: 100px;
	text-align: right;
	padding: 0px 10px 0px 0px;
	font-weight: bold;
	}
.text_input {				 		/* total width = 200+10+2 (border) = 212*/	
	width: 200px;
	text-align: left;
	padding: 0px 0px 0px 10px;
}

div { padding: 5px 0px 5px 0px;	/* total width = 112 + 162 = 324 */
	  width: 324px;}

fieldset {padding: 5px;		/* total width = 324+5+5 (padding)= 334 */
		  width: 334px;
}
legend {
	background-color: #6388cb;  /* Use Gimp to get exact color */
	border-radius: 5px;
	color: white;
}
input#submit { float: right; 
		  background-color: #6388cb;
		  color: white; 
		  font-weight: bold;
		  border-radius: 5px;
}
input#submit:hover {
	background-color: white;
	color: #6388cb;
}	
input#submit:active {
	background-color: orange;
	color: white;	
}
textarea {
	width: 334px;
	height: 150px;
	color: #707172;
	font-family: Arial, Verdana, sans-serif;
	background-image: url("../images/Conestoga_logo.jpg");
	background-position: bottom left;
	background-size: 50%;
	background-repeat: no-repeat;
}
textarea:focus {
	color: black;
}